<nz-modal
  [(nzVisible)]="visible"
  nzTitle="{{ isEditMode ? 'Editar Item' : 'Nuevo Item' }}"
  (nzOnCancel)="onCancel()"
  (nzOnOk)="onOk()"
  nzOkType="primary"
  nzOkText="Aceptar"
  nzCancelText="Cancelar"
>
  <div *nzModalContent>
    <form nz-form [formGroup]="form">
      
      <nz-form-item *ngIf="false">
        <nz-form-label [nzSpan]="6" nzFor="id">id</nz-form-label>
        <nz-form-control [nzSpan]="14"  >
          <input
            type="number"
            nz-input
            formControlName="id"
            id="id"
            step="1"
            min="1"
          />
        </nz-form-control>
      </nz-form-item>

      
      <nz-form-item *ngIf="false">
        <nz-form-label [nzSpan]="6" nzFor="codigo">Código</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="Código requerido (entero)">
          <input
            type="number"
            nz-input
            formControlName="codigo"
            id="codigo"
            step="1"
            min="1"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="nombre">Nombre</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="Nombre es requerido (máx. 100)">
          <input nz-input formControlName="nombre" id="nombre" maxlength="250" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="descripcion">Descripción</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="Descripción es requerida (máx. 250)">
          <textarea
            nz-input
            formControlName="descripcion"
            id="descripcion"
            maxlength="250"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="sede">Sede</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="Sede es requerida (máx. 100)">
          <input nz-input formControlName="sede" id="sede" maxlength="100" />
        </nz-form-control>
      </nz-form-item>


       <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="direccion">Dirección</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="Dirección es requerida (máx. 100)">
          <input nz-input formControlName="direccion" id="direccion" maxlength="100" />
        </nz-form-control>
      </nz-form-item>


    <nz-form-item>
  <nz-form-label [nzSpan]="6" nzFor="foto">Foto (JPG)</nz-form-label>
  <nz-form-control
    [nzSpan]="14"
    nzErrorTip="Debe seleccionar una imagen JPG"
  >
    <!-- input file vinculado al form -->
    <input
      id="foto"
      type="file"
      accept=".jpg,.jpeg,image/jpeg"
      (change)="onFileSelected($event)"
    />

    <!-- opcional: mostrar nombre del archivo en el form -->
    <input
      nz-input
      style="margin-top: 8px;"
      placeholder="Archivo seleccionado"
      formControlName="foto"
      readonly
    />
  </nz-form-control>
</nz-form-item>
      

      
      <!-- Botón de limpiar -->
      <div style="margin-top: 16px; text-align: right;">
        <button nz-button nzType="default" nzDanger type="button" (click)="resetForm()">
          Limpiar campos
        </button>
      </div>
    </form>
  </div>
</nz-modal>
