<nav class="navbar">
  <div class="navbar-brand">
    Gestión de Hoteles
  </div>

  <!-- Botón hamburguesa -->
  <button class="navbar-toggle" type="button" (click)="menuOpen = !menuOpen">
    <i nz-icon nzType="menu" style="font-size: 24px"></i>
  </button>

  <!-- <ul class="navbar-menu" [class.open]="menuOpen">
    <li class="navbar-item">
      <a (click)="openModal()">Nuevo Hotel</a>
    </li>
  </ul> -->
</nav>

<div class="table-container">
 
<div class="table-header">
  <h2 class="table-title">Listado de Hoteles</h2>

  <div class="table-actions">
    <!-- Buscador -->
    <div class="search-wrapper">
      <nz-input-group nzPrefixIcon="search">
        <input
          nz-input
          [(ngModel)]="searchTerm"
          placeholder="Buscar"
        />
      </nz-input-group>
    </div>

    <!-- Botón agregar -->
    <button
      nz-button
      nzType="primary"
      class="add-button"
      (click)="openModal()"
    >
      <i nz-icon nzType="plus"></i>
      <span>Nuevo Hotel</span>
    </button>
  </div>
</div>



  <!-- WRAPPER PARA SCROLL HORIZONTAL EN MOVIL -->
  <div class="table-wrapper">
    

      <nz-table
        #basicTable
        [nzData]="filteredItems"
        [nzLoading]="loading"
        [nzFrontPagination]="false"
        nzBordered
      >


      <thead>
        <tr>
          <th nzWidth="15%">Nombre</th>
          <th nzWidth="27%">Descripción</th>
          <th nzWidth="12%">Sede</th>
          <th nzWidth="16%">Dirección</th>
          <th nzWidth="30%">Foto</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basicTable.data">         
          <td>{{ item.nombre }}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.sede }}</td>
          <td>{{ item.direccion }}</td>
          <td>
          <img
  *ngIf="item.foto"
  [src]="item.foto | hexToUrl:'image/jpeg'"
  style="width: 120px; height: 120px; object-fit: cover; border-radius: 8px;"
/>
        </td>
       
          <td>
            <button nz-button nzSize="small" nzType="default" (click)="editItem(item)">
              <i nz-icon nzType="edit"></i>Editar
            </button>
            <button nz-button nzSize="small" nzType="default" nzDanger (click)="confirmDelete(item)">
              <i nz-icon nzType="delete"></i>Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- Paginación -->
  <div class="pagination-wrapper">
    <nz-pagination
      [nzPageIndex]="pageIndex"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      (nzPageIndexChange)="onPageChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
    >
    </nz-pagination>
  </div>
</div>

<app-item-modal
  [visible]="isModalVisible"
  [isEditMode]="isEditMode"
  [itemData]="currentItem"
  (save)="handleSave($event)"
  (cancel)="handleCancel()"
>
</app-item-modal>
